.skills{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
}

.learnt{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle{
    width: 8rem;
    height: 8rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom , #dce30d 0% , rgb(245, 122, 7) );
    top: -8px;
    bottom: -8px;
    right: -8px;
    left: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

/* @media screen and (max-width : 480px){
    .skills{
        padding: 0;
    }

    .circle{
        height: 4rem;
        width: 4rem;
        font-size: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .learnt{
        font-size: 0.5px;
    }
} */

/* <----------------------------------------------------------------------------> */

/* @media only screen and (max-width: 480px) {
    .skills {
      height: auto;
      gap: 2rem;
    }
  
    .circle {
      width: 5rem;
      height: 5rem;
      font-size: 1rem;
    }
  } */

  /* <------------------------------------------------------------------------------> */

  @media only screen and (max-width: 480px) {
    .skills {
      flex-direction: column;
      /* height: auto; */
      height: 45rem;
      gap: 6rem;
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 2px;
    }
  }
  
  .learnt {
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .circle {
      width: 8rem;
      height: 8rem;
      background: white;
      border-radius: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 480px) {
    .circle {
      width: 8rem;
      height: 8rem;
      
    }
  }
  
  .circle::before {
      border-radius: 100%;
      content: '';
      background-image: linear-gradient(to bottom, #dce30d 0%, rgb(245, 122, 7));
      top: -6px;
      bottom: -6px;
      right: -6px;
      left: -6px;
      position: absolute;
      z-index: -1;
      box-shadow: var(--boxShadow);
  }
  
  @media only screen and (max-width: 480px) {
    .circle::before {
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -4px;
    }
  }

